* {
  opacity:1;
}
body {
  background:#F8F8F8;
}
.selectdiv {
  background:#B94040;
  border:solid 3px #8C2D2D;
}
.selectdiv p {
  color:white;
}
.selectdiv button {
  color:white;
  background:transparent;
}
.invertdiv {
  background:#F8F8F8;
  border:solid 3px #8C2D2D;
}
.invertdiv p {
  color:#C85050;
}
.invertdiv a {
  color:#C85050;
  border:solid 3px #8C2D2D;
}
.navmenu .top {
  background:#B94040;
}
.navmenu .top p {
  color:white;
}
.sccontainer {
  border:solid 12px #8C2D2D;
  border-top:none;
  border-bottom:none;
}
button {
  background:transparent;
  border:#8C2D2D;
  color:white;
}
#hamburger {
  border:solid 3px white;
}
a {
  color:#FF5A5A;
}
p, span, label {
  color:#C85050;
  font-weight:1000;
}
.navmenuex i {
  color:#C85050;
}
.soft {
  color:#914545;
}
.error {
  color:red;
  font-weight:400;
  font-size:1.25rem;
}
.ptext select {
  border:solid 3px #C85050;
  border-radius:8px;
  color:#C85050;
}
.ptext input {
  border:solid 3px #C85050;
  border-radius:8px;
  color:#C85050;
}
.ptext input::placeholder {
  color:#914545;
  font-weight:400;
}
.ptext a {
  background:none;
}
.ptext button {
  border:solid 3px #C85050;
  border-radius:8px;
  color:#C85050;
}
hr {
  background-color:#C85050;
  border:solid 1px #C85050;
}
.dropdown {
  background:#C85050;
  border:solid 3px #8C2D2D;
  border-radius:4px;
}
.dropdown button {
  border-color:white;
  color:white;
}
.dropdown span {
  color:white;
}
.check {
  background: url("../img/l-check-false.png") no-repeat;
  background-size:1.5em 1.5em;
}
.checktrue {
  background: url("../img/l-check-true.png") no-repeat;
  background-size:1.5em 1.5em;
}
.noncheck {
  background: url("../img/l-u-check-false.png") no-repeat;
  background-size:1.5em 1.5em;
}
.nchecktrue {
  background: url("../img/l-u-check-true.png") no-repeat;
  background-size:1.5em 1.5em;
}
.containcheck2 {
  border:solid 3px #8C2D2D;
}
.notfound, .notfound span {
  color:#FF5050;
  text-shadow:0 0 1.25rem;
}
.flicker {
  animation:flicker 3s infinite;
}
.flicker2 {
  animation:flicker2 3s infinite;
}
.notification {
  background:#B94040;
}
.notification p {
  color:white;
}
.notification button {
  color:white;
  border:solid 3px #8C2D2D;
}
.progressdiv {
  background:#8C2D2D;
}
.progressdiv div {
  background:lightcoral;
}
.notification button:active {
  background:darkred
}
@keyframes flicker {
  10% {filter:brightness(85%);}
  15% {filter:brightness(90%);}
  20% {filter:brightness(75%);}
  21% {filter:brightness(100%);}
  27% {filter:brightness(75%);}
  35% {filter:brightness(100%);}
  40% {filter:brightness(70%);}
  60% {filter:brightness(65%);}
  61% {filter:brightness(70%);}
  67% {filter:brightness(71%);}
  74% {filter:brightness(80%);}
  85% {filter:brightness(85%);}
  86% {filter:brightness(75%);}
  95% {filter:brightness(100%);}
}
@keyframes flicker2 {
  40% {filter:brightness(100%);}
  41% {filter:brightness(70%);}
  45% {filter:brightness(100%);}
  80% {filter:brightness(100%);}
  81% {filter:brightness(70%);}
  85% {filter:brightness(100%);}
  95% {filter:brightness(100%);}
  96% {filter:brightness(70%);}
  100% {filter:brightness(100%);}
}
button:active {
  background-color:#EB8C8C;
}
.ptext a:active {
  color:#8C2D2D;
}
