.notification {
  position:fixed;
  width:90%;
  height:20vh;
  bottom:2vh;
  border-radius:8px;
  margin-left:100%;
  min-height:128px;
  max-height:200px;
  max-width:650px;
  position:fixed;
  transition:margin-left ease-in;
  transition-duration:1s;
  z-index:101;
}
.notification.background {
  width:81%;
  height:18vh;
  min-height:115.2px;
  max-height:180px;
  max-width:585px;
  bottom:8vh;
  filter:brightness(70%);
  z-index:100;
}
.notification.close {
  left:50%;
  transform: translate(-50%, 0);
  margin-left:100%;
  transition:all 0.5s ease-in;
}
.notification.open {
  margin-left:0;
  transition:all 0.5s ease-in;
  left:50%;
  transform: translate(-50%, 0);
}
.notification p {
  margin:0.45em;
}
.notification .count {
  position:absolute;
  right:2.35em;
}
.notification button {
  position:absolute;
  width:2.45em;
  height:2.45em;
  right:0;
  border-radius:4px;
}
.progressdiv {
  position:absolute;
  bottom:0;
  left:5.1%;
  width:90%;
  height:16px;
}
.progressdiv div {
  height:16px;
  width:1%;
  left:0;
}
.progressdiv div.start {
  transition:all 3.5s ease-in;
  width:100%;
}
.progress.reset {
  width:1%;
}
.progress.full {
  width:100%;
}
