* {
  opacity:0;
}
.ptext {
  overflow:scroll;
}
p, a, span {
  font-size:1.25rem;
  font-weight:500;
}
.ptext p {
  text-align:center;
}
.ptext select {
  width:78%;
  height:calc(1vh + 4vw);
  min-height:48px;
  max-height:100px;
  max-width:600px;
  font-size:clamp(16px, 4vw, 32px);
  font-weight:1000;
  background:transparent;
  outline:none;
}
.ptext input {
  width:78%;
  height:calc(1vh + 4vw);
  min-height:48px;
  max-height:100px;
  max-width:600px;
  font-size:clamp(16px, 4vw, 32px);
  font-weight:1000;
  background:transparent;
  outline:none;
}
.ptext button {
  width: 48%;
  height:calc(3.5vh + 8vw);
  font-size:clamp(16px, 4vw, 32px);
  font-weight:1000;
  max-width:175px;
  max-height:75px;
}
.ptitle {
  font-weight: 1000;
  font-size: 125%;
  text-align:center;
}

.ptext a {
  font-weight:1000;
  color:#0000EE;
}
.notfound {
  font-size:5rem
}
.notfound span {
  font-size:5rem;
}
.flicker {
  animation:flicker 3s infinite;
}
.flicker2 {
  animation:flicker2 3s infinite;
}
hr {
  border:solid 1px;
}

#passcheck {
  width:78%;
  max-width:450px;
  text-align:left;
}
.checkcontainer {
  background: url("../img/check-false.png") no-repeat;
  display: inline-block;
  background-size:1.5em 1.5em;
  height:1.5em;
  padding-left:1.875em;
}
.checkcontainer span {
    height:1.5em;
    display:table-cell;
    vertical-align:middle;
}
.ptext a:active {
  background:lightblue;
}
.ptext input:placeholder-shown {
  text-overflow:ellipsis;
}
@keyframes flicker {
  10% {opacity:0.85;}
  15% {opacity:0.9;}
  20% {opacity:0.6;}
  21% {opacity:1;}
  27% {opacity:0.75;}
  35% {opacity:1;}
  40% {opacity:0.5;}
  60% {opacity:0.5;}
  61% {opacity:0.7;}
  67% {opacity:0.2;}
  74% {opacity:0.8;}
  85% {opacity:0.85;}
  86% {opacity:0.2;}
  95% {opacity:1;}
}
@keyframes flicker2 {
  40% {opacity:1;}
  41% {opacity:0.5;}
  45% {opacity:1;}
  80% {opacity:1;}
  81% {opacity:0.2;}
  85% {opacity:1;}
  95% {opacity:1;}
  96% {opacity:0.35;}
  100% {opacity:1;}
}
@media (max-width: 600px) {
  
}

@media (min-width: 600px) {
  .ptitle {
      font-size:2rem
}
  p, a, span {
    font-size:2rem
}
}
